<div class="option-row">
    <label class="toggle-label" for="nudity">Nudity Censor:</label>
    <div class="toggle-switch">
        <input type="checkbox" id="nudity" class="toggle-input">
        <label for="nudity" class="toggle-slider"></label>
    </div>
</div>

<div class="option-row">
    <label class="toggle-label" for="profanity">Profanity Censor:</label>
    <div class="toggle-switch">
        <input type="checkbox" id="profanity" class="toggle-input">
        <label for="profanity" class="toggle-slider"></label>
    </div>
</div>



    <div class="user-info">
        <p>Jane Doe</p>
        <p>Subscription Level: Basic Tier</p>
    </div>