html {
    width: 300px;
    height: 400px;
}

body {
    font-family: "Monaco", monospace;
    background-color: #282C2B;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2222;
    padding: 10px;
    box-sizing: border-box;
}


.navbar a:hover {
    background-color: #696969;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow */
    transform: translateY(-2px);
}

.template {
    padding: 20px;
}